body{
    background-color: rgb(32, 30, 30);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
}
h1{
    color: rgb(197, 221, 12);
}
h3{
    color: blue;
    border: 5px solid white;
}
form{
    color: aliceblue;
}
.movie-row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
    margin-top: 20px;

}
.Movie-card{
    background: rgb(207, 200, 200);
    border: 1px solid yellow;
    box-shadow: 0 0 10px yellow;
    border-radius: 40px;
    padding: 20px;
    width: 45%;
}
.Movie-card h2{
    color: black;
    font-size: 20px;
}
.Movie-card img{
    border-radius: 10px;
    object-fit: cover;
}
p{
    color: yellow;
    font-weight: bolder;
}

