body{
    background-color: rgb(66, 201, 66);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
}
h1{
    color: blue;
}
h3{
    color: black;
    border: 5px solid black;
}
.movie-row{
    display: flex;
    gap: 30px;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
}
.Movie-card{
    background: rgb(207, 200, 200);
    border: 3px solid black;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 0 10px black;
}
.Movie-card h2{
    color: black;
    font-size: 20px;
}
.Movie-card img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
p{
    color: black;
    font-weight: bolder;
}
